@import "config/reset";
@import "config/setting";
@import "module/flickity";

$color-sky: #b0eeff;
$color-poppy: #00bdf1;
$color-lulu: #ea6da4;
$color-tris: #ffee66;
$color-purple: #4a528c;

body, html {
  background-color: $color-lulu;
  font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-purple;
  position: relative;
  animation: fadein 1s ease-in 1 forwards;
}

#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-image: url('../lulutripoppy/img/bg01.jpg');
}

section {
  position: relative;
  height: 100vh;
}

.section-inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
}

.star {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../lulutripoppy/img/star.png');
  pointer-events: none;
  opacity: 0;
  animation: fadein 0.5s ease-in 1 1s forwards;
}

.float-white-container {
  background: $color-white;
  position: relative;
  z-index: 4;
  max-width: 650px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color-purple, 0.3);

  .image-title {
    margin: 0;
    height: 10px;
    text-align: center;

    img {
      margin: -140px 0 0 -5px;
      transform: scale(0.5);
    }
  }

  &.large { max-width: 700px; }
}


#top {
  height: 110vh;
  z-index: 1;

  #logo {
    background-image: url('../lulutripoppy/img/logo-sprite.png');
    background-size: 600px;
    width: 600px;
    height: 175px;
    animation: logo 1s steps(10) 1.5s 1 forwards;
    position: absolute;
    margin-top: -30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    span { display: none; }
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    margin-top: 80px;
    opacity: 0;
    animation: fadein 1s ease-in 2s 1 forwards;
  }
}

#summary {
  background: $color-sky;
  height: 80vh;
  z-index: 2;

  svg {
    position: absolute;
    width: 100%;
  	.circles{ fill: $color-sky; }

  	.line {
      fill: none;
      stroke: $color-sky;
      stroke-width: 3;
      stroke-miterlimit: 10;
    }

  	.dash {
      fill: none;
      stroke: $color-white;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-miterlimit: 8;
      stroke-dasharray: 3,6;
    }

    &.top {
      top: -4vw;
    }

    &.bottom {
      bottom: -4vw;
      transform: rotate(180deg);
    }
  }

  .ribbon {
    width: 120px;
    position: absolute;
    bottom: -35px;
    left: -25px;
  }

  .candy {
    width: 157px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    z-index: 4;
  }

  .inner {
    display: -webkit-flex;
    display: flex;
	  flex-direction:row;
    -webkit-align-items: center;
    align-items: center;
  }

  .cover {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-shadow: 0 0 5px rgba($color-purple, 0.2);
    width: 200px;
    transform: rotate(-1deg);
    margin: 10px 40px 10px 30px;
  }

  dl {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    line-height: 20px;

    dt {
      width: 20%;
      color: $color-lulu;
      font-size: 12px;
    }

    dd {
      font-size: 14px;
      margin: 0 0 10px;
      width: 80%;
      font-family: "vdl-megamaru", sans-serif;
    }
  }
}

#member {
  z-index: 1;
  height: 110vh;

  .ribbon {
    width: 120px;
    position: absolute;
    top: -130px;
    left: -35px;
  }

  .members {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows:  auto auto auto;
    margin: 15px 10px;

    li {
      position: relative;
      margin-bottom: 10px;

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .twicon {
      transition: 0.2s;
      opacity: 0;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 30px;
      z-index: 1;
    }

    .icon {
      float: left;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      overflow: hidden;
      text-align: center;
      margin-right: 15px;
      transition: 0.2s;
      img { width: 100%; }
    }

    p {
      margin: 10px 0 5px;;
      font-size: 13px;
      &.blue { color: $color-poppy; }
      &.pink { color: $color-lulu; }
    }

    h3 {
      font-size: 15px;
      margin: 0;
      font-weight: normal;
      font-family: "vdl-megamaru", sans-serif;
    }

    a:hover {
      .twicon { opacity: 1; }
      .icon { opacity: 0.8; }
    }

    /* ゴミ対応 */
    li:nth-child(1) { -ms-grid-column: 1; -ms-grid-row: 1; }
    li:nth-child(2) { -ms-grid-column: 2; -ms-grid-row: 1; }
    li:nth-child(3) { -ms-grid-column: 3; -ms-grid-row: 1; }
    li:nth-child(4) { -ms-grid-column: 1; -ms-grid-row: 2; }
    li:nth-child(5) { -ms-grid-column: 2; -ms-grid-row: 2; }
    li:nth-child(6) { -ms-grid-column: 3; -ms-grid-row: 2; }
    li:nth-child(7) { -ms-grid-column: 1; -ms-grid-row: 3; }
    li:nth-child(8) { -ms-grid-column: 2; -ms-grid-row: 3; }
    li:nth-child(9) { -ms-grid-column: 3; -ms-grid-row: 3; }
  }
}

#sample {
  z-index: 1;
  height: 100vh;
  background-color: $color-lulu;
  .samples img { display: block; }

  .float-white-container {
    padding: 30px 40px 45px;
    .image-title img { margin-top: -120px; }
  }

  svg {
    position: absolute;
    width: 100%;
  	.circles{ fill: $color-lulu; }

  	.line {
      fill: none;
      stroke: $color-lulu;
      stroke-width: 3;
      stroke-miterlimit: 10;
    }

  	.dash {
      fill: none;
      stroke: $color-white;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-miterlimit: 8;
      stroke-dasharray: 3,6;
    }

    &.top {
      top: -4vw;
    }

    &.bottom {
      bottom: -4vw;
      transform: rotate(180deg);
    }
  }

  .ribbon {
    width: 120px;
    position: absolute;
    bottom: -15px;
    left: -50px;
  }

  .candy {
    width: 157px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    z-index: 4;
  }
}


.js-flickity {
  .flickity-viewport {
    border-radius: 5px;
    border: 5px solid $color-lulu;
  }

  .flickity-page-dots {
    .dot {
      margin: 0 2px;
      border: 1px solid $color-poppy;
      background: $color-white;
      opacity: 1;
      &.is-selected { background: $color-poppy; }
    }
  }
}



@media screen and (max-width : 480px){
  body,html { overflow-x: hidden; }

  #background {
    background-position: 13% center;
    background-size: cover;
  }

  .star {
    background-position: 50% top;
    background-size: 200%;
  }

  #top {
    #logo { transform: translate(-50%, -50%) scale(0.6); }
    .copy { transform: translate(-50%, -50%) scale(0.7); }
  }

  .float-white-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($color-purple, 0.3);

    .image-title img {
      margin: -110px 0 0 -95px;
      transform: scale(0.4);
    }
  }

  #summary {
    height: auto;
    .cover { display: none; }
    svg { width: 200%; }

    .section-inner {
      position: static;
      transform: none;
      padding: 70px 15px 60px;
    }

    .candy {
      right: -10px;
      bottom: -30px;
      left: auto;
    }
  }

  #member {
    height: auto;

    .section-inner {
      position: static;
      transform: none;
      padding: 100px 15px;
    }

    .members {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns:  1fr 1fr;
      li { margin-bottom: 10px;}

      .icon {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }

      p {
        margin: 5px 0 5px;
        font-size: 11px;
      }

      h3 {
        font-size: 14px;
      }
    }
  }

  #sample {
    height: auto;
    .float-white-container { padding: 20px 30px 40px; }

    .section-inner {
      position: static;
      transform: none;
      padding: 100px 15px;
    }
  }
}


.jq-fadein {
    opacity : 0;
    transform : translate(0, 40px);
    transition : all 0.5s;
}

.jq-fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}


@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo {
  0% { background-position: 0 0; }
  100% { background-position: 0 -1750px; }
}
