@import "config/reset";
@import "config/setting";
@import "module/slider";
@import "module/form";
@import "module/modal";

$color-poppy: #b0eeff;
$color-lulu: #ea6da4;
$color-tris: #f4e827;
$color-purple: #a688bd;

body, html {
  background: $color-white;
  font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-dark;
  position: relative;
  animation: fadein 1s ease-in 1 forwards;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

section { position: relative; }

.section-inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh 100vh;
  grid-template-rows: 100vh 100vh;
}

.float-white-container {
  background: $color-white;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color-purple, 0.3);

  .image-title {
    margin: 0;
    height: 20px;

    img {
      margin: -140px 0 0 0;
      transform: scale(0.5);
    }
  }
}


#top {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  //background-image: url('../img/lulutripoppy/bg01.jpg');

  #logo {
    //background-image: url('../img/lulutripoppy/logo-sprite.png');
    background-size: 600px;
    width: 600px;
    height: 175px;
    animation: logo 1s steps(10) 2s 1 forwards;
    position: absolute;
    margin-top: -10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span { display: none; }
  }

  @keyframes logo {
    0% { background-position: 0 0; }
    100% { background-position: 0 -1750px; }
  }
}

#summary {
  background: $color-poppy;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -2.5vw;
    height: 5vw;
    left: -2.5vw;
    right: -2.5vw;
    background: radial-gradient(circle, $color-poppy 70%, transparent 72% );
    background-size: 5vw;
  }

  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-around;
  }

  .cover {
    box-shadow: 0 0 5px rgba($color-purple, 0.3);
    width: 150px;
    transform: rotate(-2deg);
    margin: 0 35px 0 20px;
  }

  dl {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    line-height: 20px;

    dt {
      width: 20%;
      color: $color-lulu;
      font-size: 12px;
    }

    dd {
      font-size: 14px;
      margin: 0 0 10px;
      width: 80%;
      font-family: "vdl-megamaru", sans-serif;
    }
  }

}

@media screen and (max-width : 480px){
  body { overflow: auto; }

  .scroll-down, .scroll-up,
  p br, .back, .large-title-subtitle {
    display: none;
  }

  #top {
    background-attachment: scroll;
  }

  .main-grid {
    display: block;

    > * {
      overflow: auto;
      min-height: 100vh;
    }
  }

  .section-title {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0 20px;
    &:before { display: none; }
  }

  .section-contents {
    padding: 0 20px;
  }

  .large-title {
    font-size: 26px;
    letter-spacing: 3px;
    margin: 20px 0 20px;
  }

  hr { margin: 20px 0; }
}
