$COLOR_BASE: #111923;
$COLOR_BASE_DEEP: #222933;
$COLOR_BASE_MIDDLE: #8b97bb;
$COLOR_BASE_LIGHT: #bac3df;
$COLOR_BASE_PALE: #ebf0fd;
$COLOR_BASE_BLIGHT: #ffffff;

$COLOR_PRIMARY: #456ee3;
$COLOR_PRIMARY_PALE: #96aae3;

$COLOR_ATTENTION: #e25162;
